/* Styling for index page. */

.neighborhoodContainer {
    float:left;
    width:330px;
    height:220px;
    border: 1px solid #A9ABAD;
    margin-right: 52px;
    margin-bottom:52px;
    background-color: #1f1f1f;
}

.neighborhoodContainer.last {
    float:right;
    margin-right: 0px;
}










