/* Styling for index page. */

.neighborhoodContainer {
    float:left;
    width:305px;
    height:220px;
    border: 1px solid #A9ABAD;
    margin-right: 52px;
    margin-bottom:52px;
    background-color: #1f1f1f;

    overflow: hidden;
    position: relative;
}

    .neighborhoodContainer img {
        position:absolute;
        top:0px;
        left:0px;
        height:220px;
        z-index: 1;
    }

    .neighborhoodContainer .infoContainer {
        position:absolute;
        top:0px;
        left:0px;
        width:330px;
        z-index: 2;
        height:60px;
        background-color: rgba(0,0,0,0.6);
        -webkit-transition: height 0.5s, background-color 200ms;
        transition: height 0.5s, background-color 200ms;
    }

    .neighborhoodContainer .infoContainer:hover {
        height:220px;
        cursor:pointer;
    }

    .neighborhoodContainer .infoContainer:active {
        height:220px;
        cursor:pointer;
        background-color: rgba(0,0,0,0.3);
    }

    .neighborhoodContainer h2 {
        color: white;
        font-weight: 100;
        font-size: 36px;
        margin-left: 40px;
        margin-top: 20px;
    }

.neighborhoodContainer.last {
    float:right;
    margin-right: 0px;
}










