form {
    padding: 40px;
    width: 500px;
    margin: 20px auto;
    background-color: #DADBDE;
    border: 1px solid #A9ABAD;
}
    form h5 {
        float: left;
        margin-top: 10px;
    }

    form p.cost {
        float: right;
        font-size: 14px;
        height: 35px;
        padding: 0px;
        width: 263px;
        margin: 0px;
        font-weight: bold;
        padding-top: 10px;
        color: #FF5335;
    }

    form input {
        float:right;
    }