<!-- Declare DOCTYPE to be HTML5 -->
<!DOCTYPE html>

<html lang="en">
   <head>
        <!--
            Designed by

              _  _ _ ____ _  _    ____ _    ____ _  _ _  _ _ _  _ ____ 
              |\ | | |    |_/     |__| |    |___ |_/  |__| | |\ | |___ 
              | \| | |___ | \_    |  | |___ |___ | \_ |  | | | \| |___ 
                                                             

        -->

        <!-- Forces width of browser display to be the same as the device width -->
       <meta content = "width = device-width, initial-scale = 1.0" name="viewport">

       <!-- Stylesheets -->
       <link rel="stylesheet" type="text/css" href="/assets/stylesheets/layout.css">
       <link rel="stylesheet" type="text/css" href="/assets/stylesheets/header.css">
       <link rel="stylesheet" type="text/css" href="/assets/stylesheets/footer.css">
       <link rel="stylesheet" type="text/css" href="/assets/stylesheets/neighborhoods.css">

       <title>Neighborhoods</title>
   </head> 
   <body>
      <div class = "wrapper">
        <!-- Header -->
        <div class = "header">
          <a href = "/" class = "logo">
            <img src = "/assets/icons/logo.svg" class = "logo"/>
          </a>

          <ul class = "nav pull-right">
            <li><a href = "#">Sign Up</a></li>
            <li><a href = "#">Log In</a></li>
            <li><a href = "#">List A Space</a></li>
          </ul>

          <div class = "clear"></div>

        </div>


        <div class = "padder20"></div>

        <!-- Meat -->
        <div class = "meat">
          <h1 class = "big">Neighborhoods</h1>

        </div>
        <div class = "padder20"></div>
        <div class = "push"></div>
      </div>

      <!-- Footer -->
      <footer>
        <div class = "footerCenter">
          <div class = "lefty">

            <!-- Logo and statement -->
            <img id = "logoGray" src = "/assets/icons/logoGray.svg"/>
            <h6>
              Developed by Nick Alekhine.
              <br>
              <br>
              Feel free to look at the source of this site on 
              <a href = "https://github.com/alekhinen/SpaceShare">Github</a>.
            </h6>
          </div>

          <!-- Contact -->
          <div class = "footerLinks">
            <h5>
              <a href = "/views/page/contact.html">Contact</a>
            </h5>
            <p>
              (555) 555-5555
              <br>
              info@nickalekhine.com
            </p>
          </div>

          <div class = "footerLinks">
            <h5>
              <a href = "/views/page/about.html">About</a>
            </h5>
          </div>

          <div class = "footerLinks">
            <h5>
              <a href = "/views/listings/">Listings</a>
            </h5>
          </div>

          <div class = "footerLinks">
            <h5>
              <a href = "/views/neighborhoods/">Neighborhoods</a>
            </h5>
          </div>

          <div class = "clear"></div>
        </div>
      </footer>
   </body>
</html>