<!-- Declare DOCTYPE to be HTML5 -->
<!DOCTYPE html>

<html lang="en">
   <head>
        <!--
            Designed by

              _  _ _ ____ _  _    ____ _    ____ _  _ _  _ _ _  _ ____ 
              |\ | | |    |_/     |__| |    |___ |_/  |__| | |\ | |___ 
              | \| | |___ | \_    |  | |___ |___ | \_ |  | | | \| |___ 
                                                             

        -->

        <!-- Forces width of browser display to be the same as the device width -->
       <meta content = "width = device-width, initial-scale = 1.0" name="viewport">

       <!-- Stylesheets -->
       <link rel="stylesheet" type="text/css" href="/assets/stylesheets/layout.css">
       <link rel="stylesheet" type="text/css" href="/assets/stylesheets/header.css">
       <link rel="stylesheet" type="text/css" href="/assets/stylesheets/footer.css">
       <link rel="stylesheet" type="text/css" href="/assets/stylesheets/neighborhoods.css">

       <title>SpaceShare - Neighborhoods</title>
   </head> 
   <body>
      <div class = "wrapper">
        <!-- Header -->
        <div class = "header">
          <a href = "/" class = "logo">
            <img src = "/assets/icons/logo.svg" class = "logo"/>
          </a>

          <ul class = "nav pull-right">
            <li><a href = "#">Sign Up</a></li>
            <li><a href = "#">Log In</a></li>
            <li><a href = "#">List A Space</a></li>
          </ul>

          <div class = "clear"></div>

        </div>


        <div class = "padder20"></div>

        <!-- Meat -->
        <div class = "meat">
          <h1 class = "big">Featured Neighborhoods</h1>

          <!-- Boston -->
          <div class = "featuredNeighborhood" id = "boston">
            <div class = "imgContainer">
              <img src = "/assets/images/featuredNeighborhoods/bostonSkyline.jpg"/>
            </div>
            <h1>Boston</h1>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum consectetur orci ut lacus aliquet eleifend. Donec facilisis porttitor mi, vel rhoncus tortor tincidunt quis. Pellentesque eleifend bibendum malesuada. Ut sagittis dictum dolor cursus commodo. Sed suscipit varius consequat. Morbi placerat mauris condimentum, tincidunt est ac, dignissim neque. Nullam congue elit purus, eget condimentum orci consectetur et. Vestibulum vehicula metus sit amet euismod eleifend. Donec fermentum erat ac volutpat viverra. Ut a nisi facilisis dolor commodo interdum quis sed libero. Cras ac sem posuere, venenatis turpis sed, tincidunt nisl.
            </p>
          </div>

        </div>
        <div class = "padder20"></div>
        <div class = "push"></div>
      </div>

      <!-- Footer -->
      <footer>
        
      </footer>
   </body>
</html>